{% extends 'base.html.twig' %}

{% block body %}
    <h1>Manufacturer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ manufacturer.id }}</td>
            </tr>
            <tr>
                <th>Manufacturer</th>
                <td>{{ manufacturer.manufacturer }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if manufacturer.date %}{{ manufacturer.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Operateur</th>
                <td>{{ manufacturer.operateur }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manufacturer_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('manufacturer_edit', { 'id': manufacturer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
