{% extends "SdzUserBundle::user.html.twig" %}

{% block body1 %}
	<h4>Gestion des Abonnements </h4>
    {% for message in app.session.flashbag.get('info') %}
        <p>{{ message }}</p>
    {% endfor %}
	<div class="row">
	    <div class="col-12 col-md-4">
	    	<h5>Informations d'enregistrement</h5>
        	<strong>Nom</strong>  : {{user.name}}<br>
        	<strong>Email</strong> : {{user.username}}<br>
        	<strong>Service</strong> : {{user.service}}<br>
        	<strong>Entreprise</strong> : {{user.entreprise}}<br>
        	<strong>Magasin</strong> : {{user.magasin}}<br>
        	<strong>Limite d'accès</strong> : {% if user.limitedaccessdate %}{{ user.limitedaccessdate|date('d-m-Y') }}{% endif %}<br>
        	<strong>Roles</strong> : {% for role in user.uncriptedroles %}{{ role }} ,{% endfor %}<br>
        	<hr>
	    </div>
	    <div class="col-12 col-md-4">
	    	<h5>Edition de l'Abonnement</h5>
			{{ form_start(form) }}
	            <div class="form-group row">
	                {{ form_label(form.limitedaccessdate, 'Limite d\'accès :', {'label_attr': {'class':'col-md-5 col-5 col-form-label font-weight-bold'}}) }}
	                {{form_errors(form.limitedaccessdate)}}
	                <div class="col-md-7 col-7">
	                    {{ form_widget(form.limitedaccessdate, {'attr': {'class': 'form-control'}}) }}
	                </div>
	            </div>
	            <div class="form-group row">
	                {{ form_label(form.magasin, 'Magasin :', {'label_attr': {'class':'col-md-5 col-5 col-form-label font-weight-bold'}}) }}
	                {{form_errors(form.magasin)}}
	                <div class="col-md-7 col-7">
	                    {{ form_widget(form.magasin, {'attr': {'class': 'form-control'}}) }}
	                </div>
	            </div>
	            <div class="form-group row">
	                {{ form_label(form.service, 'Service :', {'label_attr': {'class':'col-md-5 col-5 col-form-label font-weight-bold'}}) }}
	                {{form_errors(form.service)}}
	                <div class="col-md-7 col-7">
	                    {{ form_widget(form.service, {'attr': {'class': 'form-control'}}) }}
	                </div>
	            </div>
		        {{form_errors(form)}}
		    	<hr>
		    	<a class="btn btn-outline-dark" href="{{ path('user') }}" role="button">Retour</a>
		        <input type="submit" class="btn btn-primary" value="Enregistrer">
		        {{ form_rest(form) }}
		    {{ form_end(form) }}
	    </div>
	</div>

{% endblock %}