{% extends "SdzUserBundle::user.html.twig" %}

{% block body1 %}
    <h2>Gestion des Utilisateurs : Edit role</h2>
    Utilisateur: {{entity.name}} </br>
    Magasin: {{entity.magasin}}</br>
    Email: {{entity.username}}</br>
    Entrez les roles cet utilisateur
    {% form_theme edit_role_form 'bootstrap_3_layout.html.twig' %}

        {{ form(edit_role_form) }}
<ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
